*.o
.arch
*.pdf
.zshhistory
libklutshnik.so
libklutshnik.a
libklutshnik.pc
__pycache__
*.org
prez/
server/.zig-cache/
server/zig-out/
todo
urls
docs/
test/servers/*/log
man/*.1
man/*.5
test/otherclient/keystore
